[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
opencv-python = "*"
numpy = "*"
sympy = "*"
python-dateutil = "*"
lxml = "*"
h5py = "*"
tensorflow = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
